# Deep learning frameworks
tensorflow>=2.16,<2.20                                     
tf-keras==2.17.0                                          

# Face detection backends
retina-face==0.0.17
mtcnn                                 

# Face analysis & image processing
deepface                                                   
Pillow   
numpy==1.26.4
ml-dtypes==0.4.0

opencv-python==4.8.1.78
pandas==1.5.3
gdown==4.7.1
fire==0.5.0
gradio==4.27.0
scipy
